body {
    font-family: 'CustomFont';
}

#body {}


#hello-gust-body {
    font-size: 35px;
    font-family: 'CustomFont';
    font-size-adjust: none;
    font-size: 35px;
    /*   font-family:'CustomFont';
    font-size-adjust: none; */
    /*  */
}

#hello-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b51c52;
}

#name {
    text-align: center;
    margin: 1.5px;
}

#exit {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 50px;
    font-size: 35px;
    background-color: black;
}

#exitTxt {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

}

#greetingTxt {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}