
.rooms {
    text-align: center;
    box-shadow: 2px 2px 2px 2px #bda276;
    grid-auto-rows: minmax(10px, auto);
    display: grid;
    
}

#full {
    border: rgb(223, 1, 1) solid 2px;
}

#empty-not-cleen {
    border: 2px rgb(230, 150, 2) solid;
}

#empty-cleen-not-ready {
    border: 2px rgb(255, 255, 0) solid;
}

#ready {
    border: 2px green solid;
    /* border: 2px rgb(0, 0, 0) solid; */
}
/* #ready #room-remark{
    color:  green ;
} */

#room-title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 3px;
}

#room-remark {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

#edit-buttom {
    /* bottom: 5px; */
    width: 50px;
    margin-right: 90%px;
    padding: 0px;
}

#Select-situation{
    background-color: #5454547a;
    align-items: center;
}

#if-full {
    /* border: 3px solid red; */
    color: red;
    background-color: #5454547a;
}

#if-need-clean {
    /* border: 3px solid orange; */
    color: rgb(255, 166, 0);

    background-color: #5454547a;
}

#if-clean {
    /* border: 3px solid yellow; */
    color: yellow;
    background-color: #5454547a;
}

#if-ready {
    /* border: 3px solid green; */
    color: rgb(2, 166, 2);
    background-color: #5454547a;
}
