.rooms {
    text-align: center;
    box-shadow: 2px 2px 2px 2px #bda276;
    grid-auto-rows: minmax(10px, auto);
    display: grid;
    position: relative;

}

#full {
    border: rgb(223, 1, 1) solid 2px;
}

#empty-not-cleen {
    border: 2px rgb(230, 150, 2) solid;
}

#empty-cleen-not-ready {
    border: 2px rgb(255, 255, 0) solid;
}

#ready {
    border: 2px green solid;
    /* border: 2px rgb(0, 0, 0) solid; */
}

/* #ready #room-remark{
    color:  green ;
} */

#room-title {
    font-size: 30px;
    /* margin-top: 20px; */
    margin-bottom: 3px;
}

#room-remark {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

#edit-buttom {
    /* bottom: 5px; */
    width: 50px;
    margin-right: 90%px;
    padding: 0px;
}

#Select-situation {
    background-color: #5454547a;
    align-items: center;
}

#if-full {
    /* border: 3px solid red; */
    color: red;
    background-color: #5454547a;
}

#if-need-clean {
    /* border: 3px solid orange; */
    color: rgb(255, 166, 0);

    background-color: #5454547a;
}

#if-clean {
    /* border: 3px solid yellow; */
    color: yellow;
    background-color: #5454547a;
}

#if-ready {
    /* border: 3px solid green; */
    color: rgb(2, 166, 2);
    background-color: #5454547a;
}

#for-today {
    position: absolute;
    top: 4px;
    /* מרחק מהרצפה */
    left: 4px;
    /* מרחק מהצד השמאלי */
    background-color: rgba(54, 53, 53, 0.8);
    /* רקע אדום עם שקיפות */
    color: white;
    /* padding: 5px 10px; */
    border-radius: 5px;
    /* width: 60%; */
    height: min-content;
    /* font-weight: bold; */
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    box-shadow: 1px 1px 3px 0px #95938f;

}

@media only screen and (max-width: 800px) {
    #for-today {
        /* width: 65%; */
        font-size: 15px;
        /* padding: 4px; */
    }
}


@media only screen and (max-width: 450px) {
    #for-today {
        /* width: 65%; */
        font-size: 11px;
        /* padding: 3px; */
    }
}