@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}

body {
    direction: rtl;
    font-family: 'CustomFont';
}

#hIcon {
    /* margin: 2%;
    position: fixed;
    color: #f89619;
    top: 0;
    left: 0; */
    color: #f89619;
    margin: 2%;
    position: fixed;
    top: 0;
    left: 0;
}
