@font-face {
    font-family: 'CustomFont';
    src: url('fonts/Rubik-Regular.ttf') format('truetype');
}

#hIcon {
    margin: 2%;
    position: absolute;
    left: 0;
    color: #f89619;
}

#logoLev {
    margin: 2%;
    width: 240px;
    height: 180px;
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 900px) {
    #logoLev {
        width: 180px;
        height: 140px;
        position: initial;
    }

}