#all-orders-body {
  /* background-color: #b23636; */
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  overflow: hidden;
}

#allTable {
  width: 50%;
  margin: auto;


}

#table {
  table-layout: fixed;
}

#td {
  overflow: auto;
  /* אפשר גלילה אם התוכן חורג */
  white-space: nowrap;
}

#h1 {
  text-align: center;
  margin-top: 121px;
}

#icon {
  width: 1.5px;
  height: 0.5px;
}

.input-container input {
  margin: 10px 0;

}

.input-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.css-1yij63n-MuiTableRow-root {
  border: rgb(0, 0, 0) solid 2px;
}

label {
  font-size: 90%;
  margin: 6px;
}

.sort {
  margin: 5px;
  height: 22px;
  width: 115px;
  border: solid 2px black;
  border-radius: 5px;

}

#fff {
  height: 27px;
  margin: 10px;
}

#inp2 {
  display: flex;
  flex-direction: row;
}

#more {
  width: 155px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 3px, 5px;
  margin-top: 9px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}


#od {
padding-top: 8px;
padding-bottom: 8px;
padding-right: 45px;  
}

.cheder {
  width: 12%;
}

.chez {
  width: 8%;
  padding: 0px;
}

.pach {
  width: 11.5%;

}
#arrow{
  padding-left: 2px;
  padding-right: 2px;
}
.shem {
  width: 42.5%;
}
.tarich{
  width: 27%;
}

/* #od-div{
  display: block;
} */
#b{
  padding-left: 6px;
}
@media  (max-width: 900px) {
  #h1 {
    margin-top: 20px;
  }

  #allTable {
    width: 90%;

  }

  
  #td {
    padding: 0px;
    height: 40px;
  }

  #del {
    padding: 0px;
    width: 3px;
    height: 5px;
  }

  #delete {
    padding: 0px;
  }

  #th {
    padding: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #thc {
    padding: 6px;

  }

  #inp1 {
    display: flex;
    flex-direction: row;
  }

  .input-container {
    display: flex;
    flex-direction: column;

  }

  #inp2 {
    display: flex;
    flex-direction: column;
  }

  #date {
    margin-left: auto;
    margin-right: auto;
  }

  th {
    padding: 0px;
  }

}
/* @media (max-width: 600px) {
  .cheder {
    width: 10%;
  }

  .chez {
    width: 10%;
    padding: 0px;
  }

  .pach {
    width: 10%;

  }

  .shem {
    width: 20%;
  }

} */